/* ============================
   COMPOSANTS GLOBAUX
============================ */

/* Boutons */
button {
    padding: 8px 14px;
    background: #1f2428;
    color: #7fffd4;
    border: 1px solid #7fffd4;
    cursor: pointer;
    margin-top: 5px;
}

button:hover {
    background: #2a3036;
}

/* HUD ressources */
.resources {
    display: flex;
    align-items: center;
    gap: 20px;

    background: #1a1d21;
    padding: 10px 15px;
    border: 1px solid #333;
    border-radius: 6px;

    margin: 10px;
    color: #d0d4d8;
    font-size: 1rem;
}

.resources p {
    margin: 0;
    white-space: nowrap;
}

/* Bouton carte */
.btn-map {
    padding: 10px 18px;
    background: rgba(0,0,0,0.7);
    color: white;
    border: 2px solid #4ab3ff;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
    white-space: nowrap;
}

.btn-map:hover {
    background: rgba(0,0,0,0.9);
    box-shadow: 0 0 10px #4ab3ff;
}
