/* Dézoom global */
#scale-wrapper {
    transform: scale(0.90);
    transform-origin: top center;
    width: 100%;
}


/* Ajustements selon la taille de l'écran */
@media (max-width: 1400px) {
    body { transform: scale(0.85); }
}

@media (max-width: 1100px) {
    body { transform: scale(0.80); }
}

@media (max-width: 900px) {
    body { transform: scale(0.75); }
}

@media (max-width: 700px) {
    body { transform: scale(0.70); }
}

/* Empêche les scrollbars horizontales */
html, body {
    overflow-x: hidden;
}
